@tailwind base;
@tailwind components;
@tailwind utilities;

.cursive {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 100px;
}

.home-background {
  background-image: url("images/splash-image.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: white;
}

.about-background {
  background-image: url("images/author-splash-image.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: white;
  height: 100vh;
}

.about-background div {
  padding: 48 10 10 10;
  margin: auto;
}

.about-background section {
  padding: 30px;
}

.nav-container {
  flex-direction: row;
}

.nav-item {
  padding: 30px;
  margin: auto;
}

@media only screen and (max-width: 1500px) {
  .home-name {
    font-size: 75px;
  }
}

@media only screen and (max-width: 870px) {
  .home-name {
    font-size: xx-large;
    margin: 0 auto 0 auto;
  }
}

@media only screen and (max-width: 500px) {
  .nav-container {
    flex-direction: column;
  }

  .nav-item {
    padding: 3px;
    margin: auto;
  }

  .about-background section {
    padding: 30px;
    magin: auto;
  }

  .about-background h1 {
    font-size: 30px;
    padding: 0;
  }
}
